:root {
  --color-green: hsl(75, 94%, 57%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey-700: hsl(0, 0%, 20%);
  --color-grey-800: hsl(0, 0%, 12%);
  --color-grey-900: hsl(0, 0%, 8%);
  --text-size: 14px;
  --desktop-size: 1440px;
  --mobile-size: 375px;
}

@font-face {
  font-family: 'Inter';
  src: url("../assets/fonts/static/Inter-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url("../assets/fonts/static/Inter-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url("../assets/fonts/static/Inter-SemiBold.ttf");
  font-weight: 600;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  background: black;
  padding: 2em;
  font-family: 'Inter';
}

.container__main {
  max-width: var(--desktop-size);
  height: auto;
  margin: 0 auto;
  background: var(--color-grey-800);
  border-radius: 1em;
}

.section {
  padding: 5rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header__img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.header__h1 {
  color: var(--color-white);
  font-size: 3em;
  margin: 0 auto;
  margin-top: 2rem;
}

.header__h2 {
  color: var(--color-green);
  font-size: 2em;
  font-weight: 700;
  margin: 0 auto;
  margin-top: 1rem;
}

.header__h3 {
  color: var(--color-white);
  font-size: 20px;
  margin: 3rem auto;
  font-weight: 400;
}

.list {
  list-style-type: none;
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}


.list__item {
  width: 100%;
}

.list__item__link {
  display: block;
  width: auto;
  background: var(--color-grey-700);
  text-decoration: none;
  color: var(--color-white);
  text-align: center;
  font-size: var(--text-size);
  font-weight: 700;
  padding: 2em 0;
  border-radius: 10px;
}

.list__item__link:focus {
  background: var(--color-green);
  color: var(--color-grey-900);
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--color-white);
}

.attribution a {
  color: var(--color-green);
  font-size: 20px;
}

@media screen and (max-width: 375px) {

  body {
    padding: 1em;
  }

  .section {
    padding: 1em;
  }

  .header__img {
    width: 100px;
    height: 100px;
  }

  .header__h1 {
    font-size: 1.5rem;
  }

  .header__h2 {
    font-size: 1em;
  }

  .header__h3 {
    font-size: 1em;
  }

  .list {
    column-gap: 0;
    row-gap: 1em;
  }

  .list__item__link {
    padding: 1rem 0;
  }

}